# Your API Key for OpenAI
OPENAI_API_KEY=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
# Provide proxy for OpenAI API. e.g. http://127.0.0.1:7890
HTTPS_PROXY=http://127.0.0.1:51351
# Custom base url for OpenAI API. default: https://api.openai.com
OPENAI_API_BASE_URL=https://api.openai.com
# Inject analytics or other scripts before </head> of the page
HEAD_SCRIPTS=
# Secret string for the project. Use for generating signatures for API calls
SECRET_KEY=
# Set password for site, support multiple password separated by comma. If not set, site will be public
SITE_PASSWORD=
# ID of the model to use. https://platform.openai.com/docs/api-reference/models/list
OPENAI_API_MODEL=
