---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">译心为民机器翻译平台</span>
    <span class="gpt-subtitle">GPT</span>
  </div>
  <p mt-1 op-60>基于SMT、NMT、Desnet预训练模型</p>
</header>
