<header class="flex items-center border-b h-12 px-4">
  <div class="i-carbon-add-comment text-xl"></div>
  <div class="flex-1 text-center">ChatGPT Demo</div>
  <div class="i-carbon-settings text-xl"></div>
</header>
