---
import Header from './Header.astro'
import ChatConfiguration from './ChatConfiguration.astro';
import Send from './Send.astro'
---

<main class="flex-1 flex flex-col">
  <Header />
  <main class="flex-1 flex flex-col">
    <ChatConfiguration />
    <div class="flex-1"></div>
    <Send />
  </main>
</main>