---
import Header from './Header.astro'
import Send from './Send'

import Conversation from './conversation/Conversation'
import ConversationInstance from './instance/ConversationInstance'
---

<main class="relative flex-1 flex flex-col">
  <Header />
  <main class="flex-1 mt-12 mb-14 flex flex-col">
    <!-- <ConversationConfiguration /> -->
    <div class="flex-1 overflow-y-scroll">
      <Conversation client:load />
      <ConversationInstance client:load />
    </div>
  </main>
  <Send client:load />
</main>
