---
import Header from './Header.astro'
import Send from './Send'

import Conversation from './main/Conversation'
---

<main class="relative flex-1 flex flex-col overflow-hidden">
  <Header />
  <main class="flex-1 mt-12 mb-14 flex flex-col overflow-hidden">
    <!-- <ConversationConfiguration /> -->
    <div class="flex-1 overflow-hidden">
      <Conversation client:load />
    </div>
  </main>
  <Send client:load />
</main>
