/* -----------------------------------------------------------------------------
* Slider
* -----------------------------------------------------------------------------*/

[data-scope='slider'][data-part='root'] {
  @apply w-full flex flex-col
}
[data-scope='slider'][data-part='root'][data-orientation='vertical'] {
  @apply h-60
}

[data-scope='slider'][data-part='control'] {
  --slider-thumb-size: 14px;
  --slider-track-height: 4px;
  @apply relative fcc cursor-pointer
}

[data-scope='slider'][data-part='control'][data-orientation='horizontal'] {
  @apply h-[var(--slider-thumb-size)];
}

[data-scope='slider'][data-part='control'][data-orientation='vertical'] {
  @apply w-[var(--slider-thumb-size)];
}

[data-scope='slider'][data-part='thumb'] {
  all: unset;
  @apply bg-gray-200 dark:bg-gray-500 w-[var(--slider-thumb-size)] h-[var(--slider-thumb-size)] rounded-full b-#c5c5d2 b-2
}

[data-scope='slider'][data-part='thumb'][data-disabled] {
  @apply w-0
}

[data-scope='slider'] .control-area {
  @apply flex mt-12px
}

.slider [data-orientation='horizontal'] .control-area {
  flex-direction: column;
  width: 100%;
}

.slider [data-orientation='vertical'] .control-area {
  flex-direction: row;
  height: 100%;
}

[data-scope='slider'][data-part='track'] {
  @apply rounded-full bg-gray-200 dark:bg-neutral-700
}
[data-scope='slider'][data-part='track'][data-orientation='horizontal'] {
  @apply h-[var(--slider-track-height)] w-full;
}
[data-scope='slider'][data-part='track'][data-orientation='vertical'] {
  @apply h-full w-[var(--slider-track-height)];
}

[data-scope='slider'][data-part='range'] {
  @apply bg-neutral-300 dark:bg-gray-700
}

[data-scope='slider'][data-part='range'][data-disabled] {
   @apply bg-neutral-300 dark:bg-gray-600
}
[data-scope='slider'][data-part='range'][data-orientation='horizontal'] {
  @apply h-full;
}
[data-scope='slider'][data-part='range'][data-orientation='vertical'] {
   @apply w-full;
}

[data-scope='slider'][data-part='output'] {
  margin-inline-start: 12px;
}

[data-scope='slider'][data-part='marker'] {
  color: lightgray;
}

/* -----------------------------------------------------------------------------
* Select
* -----------------------------------------------------------------------------*/

[data-scope='select'][data-part='content'] {
  @apply border border-darker
}
[data-scope='select'][data-part='trigger'][data-expanded] {
  @apply border border-darker
}

/* -----------------------------------------------------------------------------
* Switch
* -----------------------------------------------------------------------------*/

[data-scope='switch'][data-part='root'] {
  @apply relative mt-1 inline-block cursor-pointer
}
[data-scope='switch'][data-part='control'] {
  @apply relative w-10 h-6 rounded-full shadow-inner bg-gray-400 transition-colors
}
[data-scope='switch'][data-part='control'][data-checked] {
  @apply bg-emerald-600
}
[data-scope='switch'][data-part='control'][data-focus] {
  /* box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); */
  /* @apply shadow-lg shadow-cyan-500/50; */
  @apply ring-1 ring-black/50 dark:ring-white/50
}
[data-scope='switch'][data-part='thumb'] {
  @apply absolute inset-y-0 left-0 w-4 h-4 m-1 rounded-full bg-light dark:bg-dark transition-transform
}
[data-scope='switch'][data-part='thumb'][data-checked] {
  @apply translate-x-full
}