---
import Button from '../ui/Button.astro'
---

<div class="border-b border-base px-6 py-4">
  <div>
    <div>System Role</div>
    <textarea class="w-full mt-2 bg-transparent border border-base"></textarea>
  </div>
  <div mt-4>
    <div>Temperature</div>
    <div class="mt-2 h-8 bg-white/10"></div>
  </div>
  <div class="mt-4 text-right">
    <Button text="Update" />
  </div>
</div>
