---
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/v2/Main.astro'
import ConversationSidebar from '@/components/v2/conversations/ConversationSidebar'
import Settings from '@/components/v2/settings/SettingsSidebar'
import ModalsLayer from '@/components/v2/ModalsLayer'
import Sidebar from '@/components/v2/ui/Sidebar'
import '@/message.css'
---

<Layout title="ChatGPT Api Demo">
  <div class="h-100svh w-screen flex">
    <Sidebar direction="left" class="hidden md:block">
      <ConversationSidebar client:load />
    </Sidebar>
    <Main />
    <Sidebar direction="right" class="hidden lg:block">
      <Settings client:load />
    </Sidebar>
  </div>
  <ModalsLayer client:load />
</Layout>

<script>
import { createStores, rebuildStores } from '@/stores/storage/db'

createStores()
rebuildStores()
</script>
