---
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/v2/Main.astro'
import Sidebar from '@/components/v2/Sidebar.astro'
import Settings from '@/components/v2/Settings.astro'
import ModelsLayer from '@/components/v2/ModelsLayer'
---

<Layout title="ChatGPT Api Demo">
  <div class="h-100svh w-screen flex">
    <Sidebar />
    <Main />
    <Settings />
  </div>
  <ModelsLayer client:load />
</Layout>
