---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Generator from '../components/Generator'
---

<Layout title="ChatGPT API Demo">
  <main>
    <Header />
    <Generator client:load />
    <Footer />
  </main>
</Layout>
