---
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/Main.astro'
import ConversationSidebar from '@/components/conversations/ConversationSidebar'
import Settings from '@/components/settings/SettingsSidebar'
import ModalsLayer from '@/components/ModalsLayer'
import Sidebar from '@/components/ui/Sidebar'
import BuildStores from '@/components/client-only/BuildStores'
---

<Layout title="ChatGPT Api Demo">
  <div class="h-100dvh w-screen flex">
    <Sidebar direction="left" class="hidden md:block">
      <ConversationSidebar client:load />
    </Sidebar>
    <Main />
    <Sidebar direction="right" class="hidden lg:block">
      <Settings client:load />
    </Sidebar>
  </div>
  <ModalsLayer client:only />
  <BuildStores client:only />
</Layout>
