---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Password Protection">
  <main class="h-screen col-fcc">
    <div class="op-30 text-lg font-semibold mb-4">Please input password</div>
    <form id="password_form" class="flex mt-4 w-full max-w-sm mx-auto">
      <input id="password_input" type="password" class="gpt-password-input border-2 border-gray-300 rounded-md p-2 w-full focus:border-indigo-500" required />
      <button id="submit" class="gpt-password-submit bg-indigo-500 text-white ml-2 p-2 rounded-md hover:bg-indigo-700">
        <div class="i-carbon-arrow-right" />
      </button>
    </form>
    <div id="error_message" class="hidden text-red-500 mt-2">Incorrect password. Please try again.</div>
  </main>
</Layout>

<script>
const passwordForm = document.getElementById('password_form')
const input = document.getElementById('password_input') as HTMLInputElement
const errorMessage = document.getElementById('error_message')

passwordForm.addEventListener('submit', async(event) => {
  event.preventDefault()
  handleSubmit()
})

async function handleSubmit() {
  const password = input.value
  const response = await fetch('/api/auth', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      pass: password,
    }),
  })
  const responseJson = await response.json()
  if (responseJson.code === 0) {
    localStorage.setItem('pass', password)
    window.location.href = '/'
  } else {
    input.classList.add('invalid')
    errorMessage.classList.remove('hidden')
    setTimeout(() => {
      input.classList.remove('invalid')
    }, 300)
  }
}
</script>

<style>
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0.5rem);
    }
    75% {
      transform: translateX(-0.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  .invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    border-color: red;
  }

  .hidden {
    display: none;
  }
</style>
