---
import Layout from '../layouts/Layout.astro'
---

<Layout title="ChatGPT API Demo">
  <main class="h-screen flex flex-col items-center justify-center">
    <div class="op-40">Please input password</div>
    <input id="password_input" type="password" class="mt-2 px-4 py-3 rounded-sm bg-slate bg-op-15 focus:bg-op-20 focus:ring-0 focus:outline-none" />
  </main>
</Layout>

<script>

const input = document.getElementById('password_input') as HTMLInputElement

input.onkeydown = async (event) => {
  if (event.key === 'Enter') {
    const password = input.value
    const response = await fetch('/api/password_auth', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        pass: password,
      }),
    })
    const responseJson = await response.json()
    console.log(responseJson)
  }
}

</script>
