<footer op-60>
  <p mt-6 text-sm text-slate>

    <a
    border-b border-slate border-none hover:border-dashed
      href="http://nwzz.xyz" target="_blank"
    >
      网站助手
    </a>
    <span px-1>|</span>
  </p>
</footer>
