<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>