---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">GPT</span>
    <span class="gpt-subtitle">Physics</span>
  </div>
  <p mt-1 op-60>WebGuru &#169;2023</p>
</header>
