---
import Button from './ui/Button.astro'
---
<header class="absolute top-0 left-0 right-0 flex items-center bg-base border-b border-base h-12 px-4">
  <Button
    id="sidebar-toggle-btn"
    class="text-xl md:hidden"
    type="ghost"
    icon="i-carbon-add-comment"
  />
  <div id="sidebar-toggle-btn" class=""></div>
  <div class="flex-1 text-center font-extrabold">ChatGPT Demo V2</div>
  <Button
    id="settings-toggle-btn"
    class="text-xl lg:hidden"
    type="ghost"
    icon="i-carbon-settings"
  />
</header>

<script>
  import {
    showConversationSidebar,
    showSettingsSidebar,
  } from '@/stores/ui'

  const sidebarToggleBtn = document.getElementById('sidebar-toggle-btn')
  const settingsToggleBtn = document.getElementById('settings-toggle-btn')

  sidebarToggleBtn!.addEventListener('click', () => {
    showConversationSidebar.set(true)
  })
  settingsToggleBtn!.addEventListener('click', () => {
    showSettingsSidebar.set(true)
  })
</script>
