---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Answer</span>
    <span class="gpt-subtitle">Bot</span>
  </div>
  <p mt-1 op-60>Based on OpenAI</p>
</header>
