---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">GPT</span>
    <span class="gpt-subtitle">智能问答</span>
  </div>
  <p mt-1 op-60>AI 智能问答机器人</p>
</header>
