---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">My</span>
    <span class="gpt-subtitle">ChatGPT</span>
  </div>
  <p mt-1 op-60>Based on OpenAI API (gpt-3.5-turbo).</p>
</header>
