---
interface Props {
  id?: string;
  class?: string;
  type?: 'normal' | 'ghost';
  icon?: string;
  text?: string;
}

const props = Astro.props
---
<div
  id={props.id}
  class:list={[
    'inline-flex items-center gap-1 rounded-md cursor-pointer',
    (props.icon && !props.text) ? 'p-2' : 'px-2 py-1',
    (!props.type || props.type === 'normal') && 'border border-base hover:bg-darker',
    props.class ?? '',
  ]}
>
  { props.icon && <div class={props.icon}></div>}
  { props.text && <div>{props.text}</div> }
</div>
